{% doc %}
  Renders a product's metafields, from a newline-separated list of title:metafield pairs.
  @param {object} product - Product object
  @param {string} metafields_list - Newline-separated list of title:metafield pairs.
  @example
  {% render 'product-metafields', product: product, metafields: block.settings.metafields %}
{% enddoc %}

{% liquid
  assign card_product_metafields = metafields_list | newline_to_br | strip_newlines | split: '<br />'
  assign titles = ''
  assign metafields = ''
  for line in card_product_metafields
    assign title_metafield = line | split: ':'
    assign title = title_metafield[0] | strip
    assign metafield = title_metafield[1] | strip
    assign titles = titles | append: '|' | append: title
    assign metafields = metafields | append: '|' | append: metafield
  endfor
  assign titles = titles | replace_first: '|', '' | split: '|' | compact
  assign metafields = metafields | replace_first: '|', '' | split: '|' | compact
%}

{% for metafield in metafields %}
  {% liquid
    assign fields = metafield | strip | split: '.'
    assign field_source = fields[-3]

    assign title = titles[forloop.index0] | strip
  %}

  {% # white-space: normal %}
  {% capture text %}
    {% render 'product-metafield-output', product: product, metafield: metafield %}
  {% endcapture %}
  {% assign text = text | strip %}

  {% if text != blank %}
    <li class="product-info-details-item {% if field_source == 'variant' %}product-info-details-variant-field{% endif %}">
      <span class="product-info-details-item-label">{{ title }}</span>
      <span class="product-info-details-item-value">{{ text }}</span>
    </li>
  {% endif %}
{% endfor %}
