.flexi-mosaic-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(250px, auto);
  gap: var(--grid-mobile-horizontal-spacing);

  @media (min-width: 750px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.flexi-mosaic-item {
  & .card-overlay {
    height: 100%;
    padding-bottom: 0;
  }
}

/* Scroll mode on mobile */
.scroller-inner {
  & .flexi-mosaic-grid.flexi-mosaic-scroll {
    @media (max-width: 749px) {
      display: flex;
      flex-flow: row nowrap;
    }

    & .flexi-mosaic-item {
      @media (max-width: 749px) {
        width: 85%;
        max-width: 85%;
        min-height: 250px;
        flex: none;
        scroll-snap-align: center;

        &:only-child {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
