/* Template - Password
=================================== */
.password-container {
  min-height: 100vh;
  padding-top: 1.5rem;
}

@media (min-width: 750px) {
  .password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.password-wrap {
  border-radius: var(--border-radius-base);
  padding: 2rem;
  background: color-mix(in srgb, rgba(var(--color-foreground)), transparent 95%);
  width: 65rem;
  max-width: 100%;
}

.password-wrap h1 {
  margin-bottom: 0.5rem;
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}

.password-wrap .newsletter-form-input-wrap {
  margin-top: 2rem;
}

.password-wrap .newsletter-form-input-wrap [type="submit"] {
  margin-top: 1.5rem;
}

@media (min-width: 750px) {
  .password-wrap {
    padding: 7.5rem 6.5rem;
  }

  .password-wrap .newsletter-form-input-wrap {
    position: relative;
    display: flex;
    grid-gap: 2rem;
    margin-top: 2rem;
    height: 5rem;
  }

  .password-wrap .newsletter-form-input-wrap [type="email"] {
    height: 100%;
  }

  .password-wrap .newsletter-form-input-wrap [type="submit"] {
    position: absolute;
    right: 6px;
    top: 6px;
    height: calc(100% - 12px);
    min-height: 0;
    min-width: 0;
    border-radius: var(--inputs-radius);
    margin: 0;
  }

  .password-wrap .newsletter-form-input-wrap [type="submit"] {
    flex: none;
  }
}

.checkbox-newsletter-consent {
  margin: 2rem 0 0;
  display: flex;
  gap: 0.5em;
}

.checkbox-newsletter-consent [type="checkbox"] {
  margin: 0;
  flex: none;
  width: 1.6rem;
  height: 1.6rem;
  accent-color: auto;
}

.password-logo {
  margin-bottom: 2rem;
  width: auto;
}

.password-form {
  margin-top: 3rem;
  margin-bottom: 0;
}

.password-form .field-input {
  font-size: calc(var(--font-body-scale) * 2.2rem);
  letter-spacing: 0.6rem;
}

@media (min-width: 750px) {
  .password-form-field-wrap {
    display: flex;
    align-items: flex-end;
  }

  .password-form-field-wrap .button {
    flex: none;
  }

  .password-form-field-wrap .field {
    flex: auto;
    margin: 0;
    margin-inline-end: 2rem;
  }
}

.password-form-field-wrap + .form-status {
  margin-top: var(--spacing-base-1);
  margin-bottom: 0;
}

.password-footer-text {
  text-align: center;
  margin-top: 2rem;
}
